:root {
    --brand-color: #000000;
    --main-color: #212121;
    --secondary-color: #2196F3;
    --third-color: #757575;
    --fourth-color: #FFFFFF;
    --background-color-first: #F5F4FA;
    --background-color-second: #2F303A;
}