.header {
    padding: 24px 0;
    background-color: var(--fourth-color);
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    padding-left: 0;
    list-style: none;
    position: relative;
}

.menu .menu__item+.menu__item {
    margin-left: 50px;
}

.menu__item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--secondary-color);
    }
}

.menu__item-studio {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -32px;
        left: 0;
        width: 48px;
        height: 4px;
        background-color: var(--secondary-color);
        border-radius: 2px;
    }
}

.menu__item-portfolio {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 92px;
        bottom: -32px;
        width: 78px;
        height: 4px;
        background-color: var(--secondary-color);
        border-radius: 2px;
    }
}

.header__contact {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.contact .contact__item+.contact__item {
    margin-left: 50px;
}

.contact__item-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--secondary-color);
    }
}

.contact__icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--secondary-color);
    }
}