.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--fourth-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1) rotate(0);
    transition: transform 250ms linear, border-radius 250ms linear;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scaleY(0) rotate(360deg);
        border-radius: 50%;
    }
}

.modal__close {
    width: 30px;
    height: 30px;
    background-color: var(--fourth-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal__close:hover &,
    .modal__close:focus & {
        fill: var(--secondary-color);
    }
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 12px;
}

.form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--secondary-color);
    }
}

.form__input-wrap {
    position: relative;
    margin-bottom: 10px;
}

.form__input-area {
    margin-bottom: 20px;
}

.form__input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .form__input:focus + & {
        fill: var(--secondary-color);
    }
}

.form__input-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--third-color);
    margin-bottom: 4px;
}

.form__comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--secondary-color);
    }
    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        margin-bottom: 20px;
    }
}

.form__checkbox {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox__label {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-color);
}

.checkbox__span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .checkbox__input:checked + .checkbox__label > & {
        background-color: var(--secondary-color);
        border-color: transparent;
        fill: var(--fourth-color);
    }
}

.checkbox__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--secondary-color);
    margin-left: 2px;
}

.modal__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 52px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--fourth-color);
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
}